body{
    background-color:blue;
}
h1{
    text-align:center;
    background-color:white;
}
h2{
    text-align:left;
    background-color:white;
}
h3{
    text-align:left;
    background-color:white;
}
p.borda-centralizada{
    text-align:center;
    border: 2px solid black;
}
p.borda-esquerda{
    text-align:left;
    border: 2px solid black;
}
p.borda-direita{
    text-align:right;
    border: 2px solid black;
}
p.esq{
    text-align:left;
}
h4{
    text-align:left;
    background-color:white;
}